# Hugo default output folders
public/
resources/
hugo_stats.json

# Yarn/NPM
node_modules/
yarn-error.log

# Webpack output
data/webpack.json
static/js

# IDEs
.idea
.vscode

# Ruby
.byebug_history

# OSX
.DS_Store

# asdf
.tool-verions

# Temp files
*.log